<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= name %></title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="site">

      <div class="main">
        <h1><%= name %></h1>
        <a class="btn btn-primary btn-lg" href="http://<%=domain%>/ca.crt">Root Certificate</a>
        <a class="btn btn-default btn-lg" href="http://<%=domain%>/ca.crl">CRL</a>
        <a class="btn btn-default btn-lg" href="http://<%=ocsp_domain%>/">OCSP</a>
      </div>

      <div class="main shift">
        <h1><%= name %></h1>
        <a class="btn btn-primary btn-lg" href="http://<%=domain%>/ca.sub">Root Certificate SUB</a>
        <a class="btn btn-default btn-lg" href="http://<%=domain%>/ca.crl.pem">CRL PEM</a>
        <a class="btn btn-default btn-lg" href="http://<%=domain%>/dh.pem">DH</a>
      </div>

      <% if (private) { %>
        <h2>Client Certificates</h2>
        <table class="table table-striped table-hover">
          <% if (certs.length) { %>
              <% certs.forEach(function(cert, index){ %>
              <% if ((cert != "") && (cert.indexOf('@') >= 0)) { %>
                <tr class="cert">
                  <td class="name"><a href="/<%= cert %>.zip"><%= cert %></a></td>
                  <td  class="crt"><a href="/<%= cert %>.crt">crt</a></td>
                  <td  class="key"><a href="/<%= cert %>.key">key</a></td>
                  <td  class="pub"><a href="/<%= cert %>.pub">pub</a></td>
                  <td  class="sub"><a href="/<%= cert %>.sub">sub</a></td>
                  <td  class="p12"><a href="/<%= cert %>.p12">p12</a></td>
                  <td class="ovpn"><a href="/<%= cert %>.ovpn">ovpn</a></td>
                  <td  class="zip"><a href="/<%= cert %>.zip">zip</a></td>
                </tr>
                <% } %>
              <% }) %>
          <% } %>
          <tr class="new cert">
            <td class="name"><input type="text" class="form-control" placeholder="Sign New Certificate"><a></a></td>
            <td class="crt"><a>crt</a></td>
            <td class="key"><a>key</a></td>
            <td class="pub"><a>pub</a></td>
            <td class="sub"><a>sub</a></td>
            <td class="p12"><a>p12</a></td>
            <td class="ovpn"><a>ovpn</a></td>
            <td class="zip"><a>zip</a></td>
          </tr>
        </table>

        <h2>Server Certificates</h2>
        <table class="table table-striped table-hover">
          <% if (certs.length) { %>
              <% certs.forEach(function(cert, index){ %>
              <% if ((cert != "") && (cert.indexOf('@') < 0)) { %>
                <tr class="cert">
                  <td class="name"><a href="/<%= cert %>.zip"><%= cert %></a></td>
                  <td  class="crt"><a href="/<%= cert %>.crt">crt</a></td>
                  <td  class="key"><a href="/<%= cert %>.key">key</a></td>
                  <td  class="pub"><a href="/<%= cert %>.pub">pub</a></td>
                  <td  class="sub"><a href="/<%= cert %>.sub">sub</a></td>
                  <td  class="p12"><a href="/<%= cert %>.p12">p12</a></td>
                  <td class="ovpn"><a href="/<%= cert %>.ovpn">ovpn</a></td>
                  <td  class="zip"><a href="/<%= cert %>.zip">zip</a></td>
                </tr>
                <% } %>
              <% }) %>
          <% } %>
          <tr class="new cert">
            <td class="name"><input type="text" class="form-control" placeholder="Sign New Certificate"><a></a></td>
            <td  class="crt"><a>crt</a></td>
            <td  class="key"><a>key</a></td>
            <td  class="pub"><a>pub</a></td>
            <td  class="sub"><a>sub</a></td>
            <td  class="p12"><a>p12</a></td>
            <td class="ovpn"><a>ovpn</a></td>
            <td  class="zip"><a>zip</a></td>
          </tr>
        </table>

        <h2>Revoked Certificates</h2>
        <table class="table table-striped table-hover">
          <% if (revoked.length) { %>
              <% revoked.forEach(function(cert, index){ %>
                <% if (cert != "") { %>
                <tr class="cert">
                  <td class="name"><a href="/revoked/<%= cert %>.zip"><%= cert %></a></td>
                  <td  class="crt"><a href="/revoked/<%= cert %>.crt">crt</a></td>
                  <td  class="key"><a href="/revoked/<%= cert %>.key">key</a></td>
                  <td  class="pub"><a href="/revoked/<%= cert %>.pub">pub</a></td>
                  <td  class="sub"><a href="/revoked/<%= cert %>.sub">sub</a></td>
                  <td  class="p12"><a href="/revoked/<%= cert %>.p12">p12</a></td>
                  <td class="ovpn"><a href="/revoked/<%= cert %>.ovpn">ovpn</a></td>
                  <td  class="zip"><a href="/revoked/<%= cert %>.zip">zip</a></td>
                </tr>
                <% } %>
              <% }) %>
          <% } %>
        </table>

        <form action="/" method="post" class="revoke">
          <div class="form-group">
            <div class="col-xs-8">
              <select class="form-control">
                <option value="">Select One</option>
                <% certs.forEach(function(cert, index){ %>
                  <% if (cert != "") { %>
                    <option><%= cert %></option>
                  <% } %>
                <% }) %>
              </select>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-danger">Revoke</button>
            </div>
            <div class="clear"></div>
          </div>
        </form>
      <% } %>

      <div class="footer">
        <hr><a href="mailto:<%= email %>"><%= email %></a>
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="/script.js"></script>

    </div>
  </body>
</html>
